.backdrop {
  backdrop-filter: blur(3px);
  background-color: rgba($color-black, .75);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9998;
}