.button {
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none !important;
  transition: all .4s ease;

  @each $size, $properties in $button-sizes {
    &.#{$size} {
      @each $property, $value in $properties {
        #{$property} : $value;
      }
    }
  }

  @each $name, $properties in $ui-colors {
    &.#{$name} {
      background-color: map-get($properties, 'bg');
      border-color: map-get($properties, 'bg');
      color: map-get($properties, 'text');

      &:hover,
      &:focus,
      &.active {
        background-color: transparent;
        color: map-get($properties, 'bg');
      }
    }
  }
}