.container {
  margin: 0 auto;
  padding: 0 ($gutter / 2);
  width: 100%;

  @include clearfix;

  @each $breakpoint, $width in $container-widths {
    @include media-breakpoint ($breakpoint) {
      width: $width;
    }
  }

  &.fluid {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$gutter / 2);
}

.col {
  flex-grow: 0;
  padding: 0 ($gutter / 2);
}

@each $grid in $grids {
  @include media-breakpoint ($grid, true) {
    @for $i from 1 through $grid-count {
      .#{$grid}-#{$i} {
        flex-basis: 100% / $grid-count * $i;
        max-width: 100% / $grid-count * $i;
      }
    }
  }
}