.header {
  background-color: $color-blue;
  height: 60px;
}

.logo {
  color: white;
  display: table;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: .05em;
  line-height: 1.5;
  padding: 12px 0;
  text-decoration: none;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    position: relative;

    > a {
      background-color: transparent;
      color: $color-white;
      font-weight: 600;
      height: 60px;
      padding: 0 15px;
      text-decoration: none;
      transition: all .4s ease;

      > span {
        &.avatar {
          background-color: $color-green;
          border: 2px solid $color-white;
          border-radius: 50%;
          height: 32px;
          padding: 2px;
          transition: border-color .4s ease;
          width: 32px;

          > img {
            max-height: 100%;
            max-width: 100%;
          }
        }

        &.name {
          display: inline-block;
          padding-left: 10px;
        }
      }

      > svg {
        fill: $color-white;
        transition: fill .4s ease;
        width: 18px;
      }

      &:hover,
      &:focus {
        background-color: $color-white;
        color: $color-blue;

        > span {
          &.avatar {
            border-color: $color-blue;
          }
        }

        > svg {
          fill: $color-blue;
        }
      }
    }
  }
}