.preloader {
  backdrop-filter: blur(3px);
  background-color: rgba($color-black, .75);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;

  &:before,
  &:after {
    border: 25px solid $color-white;
    border-radius: 50%;
    content: '';
    height: 0;
    left: calc(50% - 25px);
    position: absolute;
    top: calc(50% - 25px);
    transform-origin: center center;
    width: 0;
  }

  &:before {
    animation: preloader-rotate .2s linear infinite alternate;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  &:after {
    animation: preloader-rotate-reverse .2s linear infinite alternate;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

@keyframes preloader-rotate {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes preloader-rotate-reverse {
  from {
    transform: rotate(15deg);
  }

  to {
    transform: rotate(-45deg);
  }
}