.sidebar {
  background-color: white;
  height: 100vh;
  overflow: auto;
  position: fixed;
  right: -240px;
  top: 0;
  transition: right .4s ease;
  width: 240px;
  z-index: 9999;

  &.active {
    right: 0;
  }

  @include media-breakpoint (lg) {
    flex-basis: 240px;
    flex-grow: 0;
    height: auto;
    min-height: calc(100vh - 60px);
    position: static;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 25px 15px;

  > li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    > a {
      background-color: transparent;
      color: $color-black;
      border-radius: 4px;
      display: block;
      font-weight: 600;
      padding: 8px 12px;
      text-decoration: none;
      transition: all .4s ease;

      &:hover,
      &:focus,
      &.active {
        background-color: $color-green;
        color: white;
        padding: 8px 4px 8px 20px;
      }
    }
  }
}