@each $grid in $grids {
  @include media-breakpoint ($grid, true) {
    @each $display in $displays {
      .d-#{$grid}-#{$display} {
        display: #{$display} !important;
      }
    }
  }
}