/**
 * text helpers
 */
@each $item in ('left', 'center', 'right') {
  .text-#{$item} {
    text-align: #{$item};
  }
}

@each $item in ('uppercase', 'lowercase', 'capitalize') {
  .text-#{$item} {
    text-transform: #{$item};
  }
}

/**
 * flex alignment helpers
 */
@each $name, $value in (
  'start'   : flex-start,
  'end'     : flex-end,
  'center'  : center,
  'between' : space-between,
  'around'  : space-around
) {
  .justify-content-#{$name} {
    justify-content: $value;
  }
}

@each $name, $value in (
  'start'    : flex-start,
  'end'      : flex-end,
  'baseline' : baseline,
  'center'   : center,
  'stretch'  : stretch
) {
  .align-items-#{$name} {
    align-items: $value;
  }

  .align-self-#{$name} {
    align-self: $value;
  }
}

/**
 * flex direction
 */
@each $name, $value in (
  'row' : row,
  'row-reverse' : row-reverse,
  'column': column,
  'column-reverse': column-reverse
) {
  .fd-#{$name} {
    flex-direction: $value;
  }
}

/**
 * clearfix
 */
.clearfix {
  @include clearfix;
}