@import 'vars';
@import 'mixins';

/**
 * importing utilities
 */
@import 'utilities/normalize';
@import 'utilities/display';
@import 'utilities/helpers';

/**
 * default stylings
 */
* {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  letter-spacing: .025em;
  line-height: 1.5em;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0 0 1em;
}

b, strong, label {
  font-weight: 600;
}

svg, img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * importing components
 */
@import 'components/grid';
@import 'components/preloader';
@import 'components/buttons';
@import 'components/header';
@import 'components/backdrop';
@import 'components/sidebar';
@import 'components/contents';