/**
 * media breakpoint
 */
@mixin media-breakpoint ($breakpoint, $write-anyway: false, $breakpoints: $breakpoints) {
  $min : map-get($breakpoints, $breakpoint);

  @if $min != null {
    @media (min-width: $min) {
      @content;
    }
  } @else if $write-anyway {
    @content;
  }
}

/**
 * clearfix
 */
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}