/**
 * colors
 */
$color-green  : #1abc9c;
$color-blue   : #3498db;
$color-red    : #e74c3c;
$color-yellow : #f39c12;
$color-gray   : #7f8c8d;
$color-white  : #ecf0f1;
$color-black  : #2c3e50;

$ui-colors: (
  'success' : (
    'bg'   : $color-green,
    'text' : $color-white
  ),
  'primary' : (
    'bg'   : $color-blue,
    'text' : $color-white
  ),
  'danger'  : (
    'bg'   : $color-red,
    'text' : $color-white
  ),
  'warning' : (
    'bg'   : $color-yellow,
    'text' : $color-black
  ),
  'default' : (
    'bg'   : $color-gray,
    'text' : $color-black
  ),
  'light'   : (
    'bg'   : $color-white,
    'text' : $color-black
  ),
  'dark'    : (
    'bg'   : $color-black,
    'text' : $color-white
  )
);

/**
 * button sizes
 */
$button-sizes: (
  'sm': (
    'border-radius': 3px,
    'font-size': 12px,
    'padding': 6px 12px
  ),
  'md': (
    'border-radius': 4px,
    'font-size': 16px,
    'padding': 8px 18px
  ),
  'lg': (
    'border-radius': 5px,
    'font-size': 20px,
    'padding': 10px 30px
  ),
  'xl': (
    'border-radius': 7px,
    'font-size': 24px,
    'padding': 12px 40px
  )
);

/**
 * breakpoints
 * xs is not included
 * as it will be default
 * following mobile first approach
 */
$breakpoint-sm  : 576px;
$breakpoint-md  : 768px;
$breakpoint-lg  : 992px;
$breakpoint-xl  : 1200px;
$breakpoint-xxl : 1400px;

$breakpoints: (
  'sm'  : $breakpoint-sm,
  'md'  : $breakpoint-md,
  'lg'  : $breakpoint-lg,
  'xl'  : $breakpoint-xl,
  'xxl' : $breakpoint-xxl
);

/**
 * container widths
 */
$container-widths : (
  'sm'  : 540px,
  'md'  : 720px,
  'lg'  : 960px,
  'xl'  : 1140px,
  'xxl' : 1320px
);

/**
 * grids
 */
$grid-count: 12;

$grids: (
  'xs', 'sm', 'md', 'lg', 'xl', 'xxl'
);

$gutter: 30px;

/**
 * display propertis
 */
$displays: (
  'block', 'inline', 'inline-block', 'table', 'flex', 'none'
);